body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

html{
	font-size: 10px;
}

a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}

.wrapper{
	display:table-cell;
	vertical-align: middle;
}

.main {
	position: relative;
	display: table;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 100vh;
	background: #000 url(../images/main-bg.jpg) center center no-repeat;
}
.main-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .5);
	z-index: 1;
}

.main p {
	font-size: 3rem;
	font-weight: 300;
}

.main-header{
	position: relative;
	z-index: 2;
}
.main h1 {
	margin-bottom: 1.4rem;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 4.8rem;
}

.main-line {
	width: 200px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto;
}
.main-down {
	position: absolute;
	color: #fff;
	z-index: 4;
	bottom: 2rem;
	display: inline-block;
	font-size: 2rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid transparent;
	line-height: 50px;
	left: 50%;
	margin-left: -25px;
	transition: 0.3s;
}

.main-down:hover {
	color: #fff;
	border-color: #fff;
}

/*Портфолио*/

.portfolio {
	padding: 10rem 0;
	text-align: center;
}
.section-header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.6rem;
	margin-bottom: 5rem;
}

.portfolio img {
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 4px 30px 0px rgba(87,92,97, 0.5);
}

.portfolio a {
display: block;
margin: 3rem auto 5rem;
color: #333;
font-size: 1.5rem;
width: 13rem;
border-bottom: 1px solid transparent;
}

.portfolio a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #333;
}

/*футер страницы*/

.footer{
	background-color: #646464;
	color: #fff;
	text-align: center;
	padding: 2rem 0;
}

.footer strong {
	font-weight: 300;
	font-size: 2.4rem;
}

.footer p {
	font-weight: 150;
	font-size: 1.5rem;
}

.social-links {
	margin-top: 1rem;
}
.social-links a {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: inline-block;
	color: #fff;
	border: solid 1px #fff;
	border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	transition: 0.2s;
}
.social-links a:hover {
	background-color: #fff;
	color: #646464;
}

.offer-btn {
	text-decoration: none;
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 1rem auto;
	border: 1px solid #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #fff;
	border-radius: 100px;
	transition: 0.2s;
}

.offer-btn:hover{
	text-decoration: none;
	color:#fff;
	transform: scale( 1.1,1.1);
}

/*модальные окна*/

.modal img {
	width: 100%;
}

.close {
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.modal-title {
	font-weight: 800;
	font-size: 2rem;
}
.modal-btn {
	display: inline-block;
	color: #333;
	border: 1px solid #333;
	padding: 10px 20px;
	border-radius: 10px;
	
} 

.modal-btn:hover {
	text-decoration: none;
	background-color: #646464;
	color: #fff;
}

/*Адаптация сайта*/

@media (min-width: 0px) and (max-width: 767px) {
	html {
		font-size: 7px;
	}
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}
	.social-links a {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}
}







